.ext-footer
  padding 60px 0
  margin-top 30px
  font-size 1em
  background-color #32bd9f
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  color: white

  .footer
    max-width 1180px
    margin 0 auto
    display flex
    flex-direction row
    flex-wrap wrap
    align-items flex-start
    justify-content space-between

  .institutional
    flex-grow 2

    .logo
      float: left;

    p
      max-width 560px
  a
    color white
    font-weight 400
    &:hover
      color $main-link-color-hover
      text-decoration underline

  .logo
    span
      display block
      color #aaa
      &:hover
        opacity 1

  .gob
    padding-right 30px
    margin-bottom 30px

    img
      max-width 100%
      width 130px
      margin-right: 10px;

  .menu
    padding 0 15px
    text-align left

    &:first-of-type
      flex-grow 3

    a
      display block
      padding-bottom 6px

  @media only screen and (max-width: 687px)
    .footer
      flex-direction column
      flex-wrap wrap
      padding 0 10px
    .gob
      width: 100%;
    .menu
      padding-right 0
      a
        display block
        line-height 1em

    .institutional
      padding 0 15px
.social-footer
  display: flex;
  justify-content: center;
  align-items: center
  a
    margin: 5px;
    &:hover
      scale: 1.1
    img
      filter: invert(1);
      width: 22px
.der-footer
  background-color: #8a509f;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF;
  font-size: 12px;
  a
    font-weight: 400;
    color: #FFF;
  .the-box
    text-align: center
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  .logo-der
    height: 45px;
    margin-right: 10px;
    width: auto;